parameters:
	ignoreErrors:
		-
			message: "#^Anonymous function has an unused use \\$table\\.$#"
			count: 3
			path: classes/API.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: classes/Auth.php

		-
			message: "#^Parameter \\#1 \\$haystack of function stripos expects string, object given\\.$#"
			count: 1
			path: classes/Auth.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, object given\\.$#"
			count: 1
			path: classes/Auth.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 6
			path: classes/Auth.php

		-
			message: "#^PHPDoc tag @method has invalid value \\(commands\\)\\: Unexpected token \"\\\\r\\\\n     \\*\", expected '\\(' at offset 94$#"
			count: 1
			path: classes/CLI.php

		-
			message: "#^Parameter \\#2 \\$callback of function preg_replace_callback expects callable\\(array\\<int\\|string, string\\>\\)\\: string, Closure\\(mixed\\)\\: void given\\.$#"
			count: 1
			path: classes/CLI.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: classes/CSRF.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 2
			path: classes/CSRF.php

		-
			message: "#^Parameter \\#2 \\$b of static method Password\\:\\:compare\\(\\) expects string, object given\\.$#"
			count: 1
			path: classes/CSRF.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: classes/CSV.php

		-
			message: "#^PHPDoc tag @method has invalid value \\(enabled\\)\\: Unexpected token \"\\\\r\\\\n     \\*\", expected '\\(' at offset 79$#"
			count: 1
			path: classes/Cache.php

		-
			message: "#^PHPDoc tag @method has invalid value \\(using\\)\\: Unexpected token \"\\\\r\\\\n     \\* \", expected '\\(' at offset 81$#"
			count: 1
			path: classes/Cache.php

		-
			message: "#^Undefined variable\\: \\$methods$#"
			count: 1
			path: classes/Check.php

		-
			message: "#^Parameter \\$callback of function spl_autoload_register expects \\(callable\\(string\\)\\: void\\)\\|null, Closure\\(mixed\\)\\: bool given\\.$#"
			count: 1
			path: classes/Core/Aliases.php

		-
			message: "#^Parameter \\#1 \\$prefix of function uniqid expects string, int\\<1, max\\> given\\.$#"
			count: 1
			path: classes/Email/Envelope.php

		-
			message: "#^Binary operation \"\\*\" between 1 and string results in an error\\.$#"
			count: 1
			path: classes/Email/Smtp.php

		-
			message: "#^Parameter \\#2 \\$callback of function array_filter expects \\(callable\\(string\\)\\: bool\\)\\|null, 'strlen' given\\.$#"
			count: 1
			path: classes/File.php

		-
			message: "#^Variable \\$res might not be defined\\.$#"
			count: 1
			path: classes/HTTP.php

		-
			message: "#^Comparison operation \"\\>\\=\" between int\\<0, 4294967295\\> and 0 is always true\\.$#"
			count: 5
			path: classes/Hash.php

		-
			message: "#^Constant MCRYPT_DEV_URANDOM not found\\.$#"
			count: 1
			path: classes/Hash.php

		-
			message: "#^Default value of the parameter \\#2 \\$method \\(string\\) of method Hash\\:\\:make\\(\\) is incompatible with type int\\.$#"
			count: 1
			path: classes/Hash.php

		-
			message: "#^Default value of the parameter \\#3 \\$method \\(string\\) of method Hash\\:\\:verify\\(\\) is incompatible with type int\\.$#"
			count: 1
			path: classes/Hash.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 5
			path: classes/Hash.php

		-
			message: "#^PHPDoc tag @method has invalid value \\(can\\)\\: Unexpected token \"\\\\r\\\\n\\\\t \\*\", expected '\\(' at offset 81$#"
			count: 1
			path: classes/Hash.php

		-
			message: "#^PHPDoc tag @method has invalid value \\(methods\\)\\: Unexpected token \"\\\\r\\\\n\\\\t \\*\", expected '\\(' at offset 69$#"
			count: 1
			path: classes/Hash.php

		-
			message: "#^Parameter \\#1 \\$algo of function hash expects string, int given\\.$#"
			count: 1
			path: classes/Hash.php

		-
			message: "#^Parameter \\#1 \\$num of function base_convert expects string, int given\\.$#"
			count: 1
			path: classes/Hash.php

		-
			message: "#^Call to an undefined static method SQL\\:\\:update\\(\\)\\.$#"
			count: 1
			path: classes/Job.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: classes/Job.php

		-
			message: "#^Method Loader\\:\\:register\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: classes/Loader.php

		-
			message: "#^Call to function is_array\\(\\) with string will always evaluate to false\\.$#"
			count: 1
			path: classes/Map.php

		-
			message: "#^PHPDoc tag @method has invalid value \\(jsonSerialize\\)\\: Unexpected token \"\\\\r\\\\n     \\*\", expected '\\(' at offset 84$#"
			count: 1
			path: classes/Map.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(callable  If passed this callback will be applied to the founded value\\.\\)\\: Unexpected token \"If\", expected variable at offset 224$#"
			count: 1
			path: classes/Map.php

		-
			message: "#^Ternary operator condition is always false\\.$#"
			count: 1
			path: classes/Map.php

		-
			message: "#^Result of static method Session\\:\\:set\\(\\) \\(void\\) is used\\.$#"
			count: 2
			path: classes/Message.php

		-
			message: "#^Access to an undefined property Model\\:\\:\\$foreign_key\\.$#"
			count: 1
			path: classes/Model.php

		-
			message: "#^Call to an undefined static method SQL\\:\\:insertOrUpdate\\(\\)\\.$#"
			count: 1
			path: classes/Model.php

		-
			message: "#^Call to an undefined static method SQL\\:\\:reduce\\(\\)\\.$#"
			count: 1
			path: classes/Model.php

		-
			message: "#^Deprecated in PHP 8\\.4\\: Parameter \\#1 \\$callback \\(callable\\) is implicitly nullable via default value null\\.$#"
			count: 2
			path: classes/Model.php

		-
			message: "#^Method Model\\:\\:relationAddRelationshipTo\\(\\) should return callable but return statement is missing\\.$#"
			count: 1
			path: classes/Model.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$callback$#"
			count: 1
			path: classes/Model.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$options$#"
			count: 1
			path: classes/Model.php

		-
			message: "#^Ternary operator condition is always false\\.$#"
			count: 1
			path: classes/Model.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: classes/Model.php

		-
			message: "#^Unsafe call to private method Model\\:\\:persistenceDefaultOptionsFor\\(\\) through static\\:\\:\\.$#"
			count: 3
			path: classes/Model.php

		-
			message: "#^Unsafe call to private method Model\\:\\:persistenceLoadDefault\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: classes/Model.php

		-
			message: "#^Unsafe call to private method Model\\:\\:relationAddRelationshipTo\\(\\) through static\\:\\:\\.$#"
			count: 2
			path: classes/Model.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: classes/Model.php

		-
			message: "#^Binary operation \"\\*\" between 1\\.0 and string results in an error\\.$#"
			count: 1
			path: classes/Negotiation.php

		-
			message: "#^Method Password\\:\\:compare\\(\\) has invalid return type boll\\.$#"
			count: 1
			path: classes/Password.php

		-
			message: "#^Method Password\\:\\:compare\\(\\) should return boll but returns bool\\.$#"
			count: 1
			path: classes/Password.php

		-
			message: "#^Call to function is_array\\(\\) with string will always evaluate to false\\.$#"
			count: 1
			path: classes/REST.php

		-
			message: "#^Parameter \\#2 \\$callback of static method Route\\:\\:group\\(\\) expects string, Closure given\\.$#"
			count: 1
			path: classes/REST.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: classes/REST.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: classes/Resource.php

		-
			message: "#^Method Response\\:\\:end\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: classes/Response.php

		-
			message: "#^Method Response\\:\\:push\\(\\) should return Response but return statement is missing\\.$#"
			count: 1
			path: classes/Response.php

		-
			message: "#^PHPDoc tag @method has invalid value \\(load\\)\\: Unexpected token \"\\\\r\\\\n     \\*\", expected '\\(' at offset 73$#"
			count: 1
			path: classes/Response.php

		-
			message: "#^PHPDoc tag @method has invalid value \\(save\\)\\: Unexpected token \"\\\\r\\\\n     \\*\", expected '\\(' at offset 103$#"
			count: 1
			path: classes/Response.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string/array \\$links The link\\(s\\) to the resources to push\\.\\)\\: Unexpected token \"/array\", expected variable at offset 73$#"
			count: 1
			path: classes/Response.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$payload$#"
			count: 5
			path: classes/Response.php

		-
			message: "#^Method Route\\:\\:__construct\\(\\) with return type void returns Route but should not return anything\\.$#"
			count: 1
			path: classes/Route.php

		-
			message: "#^Method Route\\:\\:dispatch\\(\\) should return bool but returns Route\\.$#"
			count: 2
			path: classes/Route.php

		-
			message: "#^Method Route\\:\\:extractVariablesFromURL\\(\\) should return array but returns false\\.$#"
			count: 1
			path: classes/Route.php

		-
			message: "#^Method RouteGroup\\:\\:__construct\\(\\) with return type void returns Route but should not return anything\\.$#"
			count: 1
			path: classes/Route.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\[type\\] \\$URL The URL to check against\\.\\)\\: Unexpected token \"\\[\", expected type at offset 85$#"
			count: 1
			path: classes/Route.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\[type\\] \\$URL The URL to check against\\.\\)\\: Unexpected token \"\\[\", expected type at offset 93$#"
			count: 1
			path: classes/Route.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$before$#"
			count: 1
			path: classes/Route.php

		-
			message: "#^Parameter \\#1 \\$route of static method Route\\:\\:add\\(\\) expects Route, \\$this\\(RouteGroup\\) given\\.$#"
			count: 1
			path: classes/Route.php

		-
			message: "#^Parameter \\#2 \\$callback of function array_filter expects \\(callable\\(string\\)\\: bool\\)\\|null, 'strlen' given\\.$#"
			count: 3
			path: classes/Route.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: classes/Route.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: classes/Route.php

		-
			message: "#^Cannot call method bindValue\\(\\) on true\\.$#"
			count: 1
			path: classes/SQL.php

		-
			message: "#^Cannot call method execute\\(\\) on true\\.$#"
			count: 1
			path: classes/SQL.php

		-
			message: "#^Constant APP_DIR not found\\.$#"
			count: 1
			path: classes/SQL.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: classes/SQL.php

		-
			message: "#^Anonymous function has an unused use \\$serviceName\\.$#"
			count: 1
			path: classes/Service.php

		-
			message: "#^Unsafe access to private property Service\\:\\:\\$services through static\\:\\:\\.$#"
			count: 4
			path: classes/Service.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: classes/Session.php

		-
			message: "#^Left side of && is always false\\.$#"
			count: 1
			path: classes/Session.php

		-
			message: "#^Method Session\\:\\:active\\(\\) with return type void returns bool but should not return anything\\.$#"
			count: 1
			path: classes/Session.php

		-
			message: "#^Missing parameter \\$lifetime_or_options \\(int\\) in call to function session_set_cookie_params\\.$#"
			count: 1
			path: classes/Session.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$key$#"
			count: 1
			path: classes/Session.php

		-
			message: "#^Result of static method Session\\:\\:active\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: classes/Session.php

		-
			message: "#^Unknown parameter \\$lifetime in call to function session_set_cookie_params\\.$#"
			count: 1
			path: classes/Session.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 5
			path: classes/Shell.php

		-
			message: "#^Call to method Closure\\:\\:bindTo\\(\\) on a separate line has no effect\\.$#"
			count: 1
			path: classes/Structure.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: classes/Structure.php

		-
			message: "#^Method URL\\:\\:__set\\(\\) with return type void returns mixed but should not return anything\\.$#"
			count: 1
			path: classes/URL.php

		-
			message: "#^Method View\\:\\:__construct\\(\\) with return type void returns mixed but should not return anything\\.$#"
			count: 1
			path: classes/View.php

		-
			message: "#^PHPDoc tag @param for parameter \\$handler with type class is not subtype of native type View\\\\Adapter\\.$#"
			count: 1
			path: classes/View.php

		-
			message: "#^Parameter \\$handler of method View\\:\\:using\\(\\) has invalid type class\\.$#"
			count: 1
			path: classes/View.php

		-
			message: "#^Constructor of class View\\\\PHP has an unused parameter \\$options\\.$#"
			count: 1
			path: classes/View/PHP.php

		-
			message: "#^Constructor of class View\\\\PHPContext has an unused parameter \\$path\\.$#"
			count: 1
			path: classes/View/PHP.php

		-
			message: "#^Access to an undefined static property static\\(Work\\)\\:\\:\\$inited_shutdown\\.$#"
			count: 2
			path: classes/Work.php

		-
			message: "#^Anonymous function has an unused use \\$self\\.$#"
			count: 2
			path: tests/EmailTest.php

		-
			message: "#^Call to an undefined static method File\\:\\:append\\(\\)\\.$#"
			count: 3
			path: tests/FileTest.php

		-
			message: "#^Call to an undefined static method File\\:\\:exists\\(\\)\\.$#"
			count: 1
			path: tests/FileTest.php

		-
			message: "#^Call to an undefined static method File\\:\\:read\\(\\)\\.$#"
			count: 5
			path: tests/FileTest.php

		-
			message: "#^Call to an undefined static method File\\:\\:write\\(\\)\\.$#"
			count: 4
			path: tests/FileTest.php

		-
			message: "#^Access to an undefined static property HTTPTest\\:\\:\\$last_response_header\\.$#"
			count: 1
			path: tests/HTTPTest.php

		-
			message: "#^Parameter \\#1 \\$fields of method Map\\:\\:load\\(\\) expects string, array given\\.$#"
			count: 1
			path: tests/MapTest.php

		-
			message: "#^Access to an undefined property MessageReadOnly\\:\\:\\$greeting\\.$#"
			count: 1
			path: tests/MessageSessionTest.php

		-
			message: "#^Access to an undefined property MessageReadOnly\\:\\:\\$notice\\.$#"
			count: 1
			path: tests/MessageSessionTest.php

		-
			message: "#^Access to an undefined property SessionReadOnly\\:\\:\\$core_readonly_key\\.$#"
			count: 1
			path: tests/MessageSessionTest.php

		-
			message: "#^Property ModelTest\\:\\:\\$a1 is never read, only written\\.$#"
			count: 1
			path: tests/ModelTest.php

		-
			message: "#^Property ModelTest\\:\\:\\$a2 is never read, only written\\.$#"
			count: 1
			path: tests/ModelTest.php

		-
			message: "#^Property ModelTest\\:\\:\\$b2 is never read, only written\\.$#"
			count: 1
			path: tests/ModelTest.php

		-
			message: "#^Call to an undefined static method SQL\\:\\:insertOrUpdate\\(\\)\\.$#"
			count: 1
			path: tests/PersistenceTest.php

		-
			message: "#^Call to an undefined static method Widget\\:\\:trigger\\(\\)\\.$#"
			count: 2
			path: tests/PersistenceTest.php

		-
			message: "#^Call to function is_a\\(\\) with \\$this\\(Widget\\) and 'Model' will always evaluate to false\\.$#"
			count: 1
			path: tests/PersistenceTest.php

		-
			message: "#^Deprecated in PHP 8\\.4\\: Parameter \\#1 \\$callback \\(callable\\) is implicitly nullable via default value null\\.$#"
			count: 2
			path: tests/PersistenceTest.php

		-
			message: "#^Ternary operator condition is always false\\.$#"
			count: 1
			path: tests/PersistenceTest.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: tests/PersistenceTest.php

		-
			message: "#^Unsafe call to private method Widget\\:\\:persistenceDefaultOptionsFor\\(\\) through static\\:\\:\\.$#"
			count: 3
			path: tests/PersistenceTest.php

		-
			message: "#^Unsafe call to private method Widget\\:\\:persistenceLoadDefault\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: tests/PersistenceTest.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: tests/PersistenceTest.php

		-
			message: "#^Parameter \\#2 \\$callback of static method Route\\:\\:group\\(\\) expects string, Closure given\\.$#"
			count: 23
			path: tests/RouteTest.php

		-
			message: "#^Call to an undefined static method SQL\\:\\:delete\\(\\)\\.$#"
			count: 3
			path: tests/SQLTest.php

		-
			message: "#^Call to an undefined static method SQL\\:\\:insert\\(\\)\\.$#"
			count: 8
			path: tests/SQLTest.php

		-
			message: "#^Call to an undefined static method SQL\\:\\:insertOrUpdate\\(\\)\\.$#"
			count: 1
			path: tests/SQLTest.php

		-
			message: "#^Call to an undefined static method SQL\\:\\:reduce\\(\\)\\.$#"
			count: 2
			path: tests/SQLTest.php

		-
			message: "#^Call to an undefined static method SQL\\:\\:update\\(\\)\\.$#"
			count: 3
			path: tests/SQLTest.php

		-
			message: "#^Call to an undefined static method Service\\:\\:email\\(\\)\\.$#"
			count: 2
			path: tests/ServiceTest.php

		-
			message: "#^Call to an undefined static method Service\\:\\:foos\\(\\)\\.$#"
			count: 3
			path: tests/ServiceTest.php

		-
			message: "#^Call to an undefined static method Service\\:\\:test\\(\\)\\.$#"
			count: 3
			path: tests/ServiceTest.php

		-
			message: "#^Call to an undefined static method Shell\\:\\:demo\\(\\)\\.$#"
			count: 1
			path: tests/ShellTest.php

		-
			message: "#^Access to an undefined property Structure\\:\\:\\$b\\.$#"
			count: 1
			path: tests/StructureTest.php

		-
			message: "#^Access to an undefined property Structure\\:\\:\\$c\\.$#"
			count: 4
			path: tests/StructureTest.php

		-
			message: "#^Call to an undefined static method ModuleTraitTestClass\\:\\:sum\\(\\)\\.$#"
			count: 1
			path: tests/TraitsTest.php

		-
			message: "#^Access to private property URL\\:\\:\\$host\\.$#"
			count: 2
			path: tests/URLTest.php

		-
			message: "#^Access to private property URL\\:\\:\\$path\\.$#"
			count: 1
			path: tests/URLTest.php

		-
			message: "#^Access to private property URL\\:\\:\\$port\\.$#"
			count: 1
			path: tests/URLTest.php

		-
			message: "#^Access to private property URL\\:\\:\\$query\\.$#"
			count: 5
			path: tests/URLTest.php

		-
			message: "#^Access to private property URL\\:\\:\\$scheme\\.$#"
			count: 1
			path: tests/URLTest.php

		-
			message: "#^Access to an undefined property View\\\\PHPContext\\:\\:\\$missing\\.$#"
			count: 1
			path: tests/ViewPHPTest.php

		-
			message: "#^Access to an undefined property View\\\\PHPContext\\:\\:\\$name\\.$#"
			count: 1
			path: tests/ViewPHPTest.php

		-
			message: "#^Call to an undefined static method View\\:\\:addGlobal\\(\\)\\.$#"
			count: 1
			path: tests/ViewTest.php

		-
			message: "#^Parameter \\#1 \\$template of static method View\\:\\:from\\(\\) expects string, array\\<int, string\\> given\\.$#"
			count: 3
			path: tests/ViewTest.php

		-
			message: "#^Result of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertTrue\\(\\) \\(void\\) is used\\.$#"
			count: 2
			path: tests/ViewTest.php
